<%= render "shared/user_banner" %>
<h1>Profile</h1>
<h3>Name: <%= @user.name %></h3>
<h3>Email: <%= @user.email %></h3>
<h3>Your Upcoming Events: </h3>
<ul>
  <% @user.attended_events.where("date >= ?", Date.today).each do |event| %>
    <%= link_to event.name, event %>
  <% end %>
</ul>
<h3>Your Past Events: </h3>
<ul>
  <% @user.attended_events.where("date < ?", Date.today).each do |event| %>
    <%= link_to event.name, event %>
  <% end %>
</ul>
<%= link_to "Back to home", root_path %>